body{
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9f43c073-7631-4f98-8b19-ff63a50e1660/d7rw72u-ed83b96f-940c-4c58-814f-fb524d565c07.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzlmNDNjMDczLTc2MzEtNGY5OC04YjE5LWZmNjNhNTBlMTY2MFwvZDdydzcydS1lZDgzYjk2Zi05NDBjLTRjNTgtODE0Zi1mYjUyNGQ1NjVjMDcucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.jgzYoeCbG8gOzeDi0pIA7bkOMm8OyvrQAGsXLw-lGCs");

}
.container{
  background-color: rgba(88, 88, 88, 0.726);
  display: block;
  
}
.container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Press Start 2P', cursive;
}
.container li{
  float: left;
}
.container li a{
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
.modatbtn{
  color: white;
  font-size: large;
}

.container a:hover{
    background-color: rgb(184, 0, 0);
    color: white;
}

.button{ 
  text-decoration: none;
 }


.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
#pointBox{
  display: flex;
  float: right;
  background-color: rgb(184, 0, 0);
  color: white;
  font-family: 'Press Start 2P', cursive;
}

#play{
  visibility: visible;
  font-family: 'Press Start 2P', cursive;
  padding:10px;
  background-color: white;
  color: rgb(227, 27, 12);
}

#play:hover{
  background-color: rgb(227, 27, 12);
  color: white;
}

#startBtn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitBtn{
  margin-top: 5px;
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  color: rgb(227, 27, 12);
}
#submitBtn:hover{
  background-color: rgb(227, 27, 12);
  color: white;
}
.pokeCard{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.level-winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: rgb(0, 23, 156);
    color: rgb(255, 242, 62);
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
  }
  .game-over .level-winner {
    opacity: 1;
    pointer-events: all;
  }